link  {
    text-decoration: none;
}
.projectintro2 {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 77px;
}

.intro2 {
    display:block;
    /*margin-bottom: 25px;*/
}

.project-title2 {
    margin-bottom: 0.8rem;
    line-height: 1.2;
    letter-spacing: -0.06em;
    color: #111111;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: 5rem;
}

.project-subtitle2 {
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 300px;
    text-align: left;
    color: #777777;
    overflow: auto;
    font-weight: normal;
    margin: 0 auto;
}

.project-text2 {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    color: #777777;
    overflow: auto;
    font-weight: normal;

}
.project-img2 {
    height: 300px;
    position: relative;
    margin: 15px 50px 0 130px;
}

/*projects gallery*/

#thumbs3 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    padding-top: 92px;
    background-color: #fafafa;;
    padding: 77px;
    border-bottom: solid 1px #dddddd;
}

.works3 {
    display: block;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 17px;
    opacity:1;

}

.works3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.description2 {
    color: black;
    margin: 17px 17px;
    font-weight: normal;
}

.arrow-r2 {
    opacity: 0;
    right: 10px;


}

.textproj{

    margin-bottom: 5px;
    text-decoration: none;
    margin-bottom: 1.4rem;

}
.grid-item:hover {
    filter:opacity(0.9);
    transform: scale(1.04);
}

.photos5 {
    border-radius: 4%;
    max-width:628px;
    padding: 9px;
}

