
body{
    line-height: 1.2px;
}

.projectintro2 {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 77px;
}

.intro2 {
    display:block;
    /*margin-bottom: 25px;*/
}

.project-title2 {
    margin-bottom: 0.8rem;
    line-height: 1.2;
    letter-spacing: -0.06em;
    color: #111111;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: 5rem;
}

.project-subtitle2 {
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 300px;
    text-align: left;
    color: #777777;
    overflow: auto;
    font-weight: normal;
    margin: 0 auto;
}

.project-text2 {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    color: #777777;
    overflow: auto;
    font-weight: normal;

}
.project-img2 {
    height: 300px;
    position: relative;
    margin: 15px 50px 0 130px;
}

.collections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: min-content;
    margin-top: 5rem;
    margin-left: 14rem;
}

.titlestacks {
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0px 40px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}


.area {
    display: flex;
    position: relative;
    scroll-snap-align: center;
}

.Stacks{
    font-weight: 700;
    margin: 0 0;
    border-bottom: 1px dashed black;
    padding-bottom: 1rem;
    margin-bottom:2rem;

}

/*.skill {
    max-width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 0;
    outline: none;
}*/

.img-container {
    transition: transform 90ms ease-in 0s;
    user-select: none;
    position: relative;
    cursor: default;
    margin-right: 6rem;
}

.imglogos {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(1);
    transition: transform 120ms ease 0s;
    border-radius: 10%;
    border:3px solid red;
    width: 4rem;
    height: 4rem;
}

.subtitlestacks{
    display: block;
    font-size: 0.67em;
    margin-top: 5.5rem;
    font-weight: lighter;
}


.sectioncontainer {
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 3rem;
}

